# Ignore all the files and folders in the bundle directory
vim/Linux/bundle/
vim/Linux/bundle/L9/*
vim/Linux/bundle/AutoComplPop/*
vim/Linux/bundle/bash-support.vim/*
vim/Linux/bundle/vim-buffer-explorer-plugin/*
vim/Linux/bundle/delimitMate/*
vim/Linux/bundle/supertab/*
vim/Linux/bundle/syntastic/*
vim/Linux/bundle/tagbar/*
vim/Linux/bundle/vim-fugitive/*
vim/Linux/bundle/vim-javascript/*
vim/Linux/bundle/vundle/*

vim/Mac/bundle/
vim/Mac/bundle/L9/*
vim/Mac/bundle/AutoComplPop/*
vim/Mac/bundle/bash-support.vim/*
vim/Mac/bundle/vim-buffer-explorer-plugin/*
vim/Mac/bundle/delimitMate/*
vim/Mac/bundle/supertab/*
vim/Mac/bundle/syntastic/*
vim/Mac/bundle/tagbar/*
vim/Mac/bundle/vim-fugitive/*
vim/Mac/bundle/vim-javascript/*
vim/Mac/bundle/vundle/*
